DATABASE_URL=
SECRET_KEY=
BVN_SALT=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ALLOWED_ORIGINS=http://localhost:3000
OTP_RATE_LIMIT_SECONDS=60
ISW_CLIENT_ID=
ISW_CLIENT_SECRET=
ISW_TOKEN_URL=https://passport-v2.k8.isw.la/passport/oauth/token
ISW_BVN_VERIFY_URL=https://api-marketplace-routing.k8.isw.la/marketplace-routing/api/v1/verify/identity/bvn
ISW_TIMEOUT_SECONDS=15
ISW_MERCHANT_CODE=
ISW_QA_URL=
ISW_QA_CLIENT_ID=
ISW_QA_CLIENT_SECRET=
ISW_VIRTUAL_ACCOUNT_URL=
